XTerm*foreground: rgb:b2/b2/b2
XTerm*background: rgb:08/08/08

XTerm*selectToClipboard: true
XTerm*locale: true

XTerm*metaSendsEscape: true

! URxvt 

URxvt.scrollBar: false

! clickable urls
URxvt.perl-ext-common: default, matcher, selection-to-clipboard
URxvt.url-launcher: /usr/bin/chromium
URxvt.matcher.button: 1

! APPEARANCE

! transparency
URxvt*.transparent: true
URxvt*.shading: 20 

! colors
*foreground: #b2b2b2
*background: #080808

! font
URxvt.font: xft:Droid Sans Mono:size=10
URxvt.letterSpace: -1
! URxvt.font: -misc-fixed-medium-r-semicondensed--13-120-75-75-c-60-iso10646-1

