!URxvt.transparent: true
!URxvt.shading: 50
URxvt.font: xft:Terminus:size=8
! URxvt.font: xft:Hack:size=10
! xterm*faceName: Droid Sans Mono:size=10:antialias=true
! URxvt.letterSpace: -1 

URxvt.urgentOnBell: true

*.scrollBar: false

URxvt.perl-ext-common: default,font-size,matcher
URxvt.url-launcher: /usr/bin/firefox
URxvt.matcher.button: 1

! Keysyms
URxvt.keysym.C-Up:      perl:font-size:increase
URxvt.keysym.C-Down:    perl:font-size:decrease
URxvt.keysym.C-S-Up:    perl:font-size:incglobal
URxvt.keysym.C-S-Down:  perl:font-size:decglobal

! scheme originally by shinryuu - lolitastic
*foreground:    #ebebeb
! original:
! *background:    #101012
*background:    #020203

!black
*color0:   #1F1F1F
*color8:   #4d4d4d
!redc
*color1:   #A54242
*color9:   #CC6666 
!green
*color2:   #B7CE42
*color10:  #BDE077
!yellow
*color3:   #FEA63C
*color11:  #FFE863
!blue
*color4:   #66AABB
*color12:  #AACCBB
!magenta
*color5:   #B7416E
*color13:  #BB4466
!cyan
*color6:   #5E7175
*color14:  #A3BABF
!white
*color7:   #DDEEDD
*color15:  #6C887A
